*{
	box-sizing: border-box;
}
body{
 background-color: #DCDCDC;
 margin: 0;
 width: 100%;
 display: block;
 font-family: Helvetica, sans-serif;
 line-height: 1.5;
}
h1,h2,h3,li,div{
	text-align: center;
}
#heading{
	color:green;
}
img{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
h1{
	color: #337ab7;
}
p{

	color: rgb(148,0,211);
	font-size: 20px;
}
a{
	color: #337ab7;
}
